.anp-floating-header .nav-folder.mod-root > .nav-folder-title {
  background-color: var(--background-secondary);
  position: fixed;
  z-index: 1;
  width: calc(100% - 2*var(--size-4-3));
  border: 1px solid var(--background-modifier-border);
  border-radius: var(--radius-s);
}
.anp-floating-header .nav-folder.mod-root > .nav-folder-title:hover {
  background-color: var(--background-secondary);
  width: calc(100% - 2*var(--size-4-3));
}
.anp-floating-header .nav-folder.mod-root > .nav-folder-children {
  padding-top: 32px; //Might change this later
}
.anp-floating-header.anp-custom-vault-toggle {
  .nav-folder.mod-root > .nav-folder-title {
    padding-top: 10px;
  }
  .nav-folder.mod-root > .nav-folder-children {
    padding-top: 45px;
  }
}
